@import url('https://fonts.googleapis.com/css?family=Exo');

* {
    font-family: 'Exo', sans-serif;
  }

.body {
  font-family: 'Exo';
  box-sizing: border-box;
  height: 100%;
}

.h1 {
  text-align: center;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 10px 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #840032;
  color: black;
}

/* Current/active navbar link */
.active {
  background-color: #840032;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: url("ETHOheader.png");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border-radius: 25px;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: black;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 75px; 
}

.hero-text button:hover {
  background-color: #840032;
  color: white;
}

.fa {
  padding: 60px;
  font-size: 10000px;
  width: 10000px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.page-wrap { background: black; }

body {
  background-color: #000000;
  padding: 0px;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
}

td {
  color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 70%;
  background-color: black;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
}



/* Add a card effect for articles */
.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

* {
  box-sizing: border-box;
}
