@import url('https://fonts.googleapis.com/css?family=Exo');

* {
    font-family: 'Exo', sans-serif;
  }

.body {
  font-family: 'Exo';
  box-sizing: border-box;
  height: 100%;
}

.h1 {
  text-align: center;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #840032;
  color: black;
}

/* Current/active navbar link */
.active {
  background-color: #840032;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: url("ETHOheader.png");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border-radius: 25px;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: black;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 75px; 
}

.hero-text button:hover {
  background-color: #840032;
  color: white;
}